.container {
    padding-top: 1vh;
}

h3 {
    text-align: center;
}

.brand-logo img {
    height: 6vh;
    width: 18vh;
    vertical-align: middle;
}

#contact-section {
    text-align: center;
}

.contact-icon {
    font-size: 5vh;
    color: #616161;
}